
# Catkin build artefacts
.catkin_tools/
.catkin_workspace
ros/ros1_ws/build/
ros/ros1_ws/devel/

src/cmake-build-debug/

# Ament build artefacts
ros/ros2_ws/build/
ros/ros2_ws/install/
ros/ros2_ws/log/

# Logging outputs
*.log
*.stderr

# 3D models
stl.zip

# IntelliJ IDE artefacts
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore 'make' build artefacts
src/*.o
src/app_tmp.c
src/.depend
src/.version_win32
src/.version_win64
src/.version_linux32
src/.version_linux64
src/CarMaker.win32.exe
src/CarMaker.win64.exe
src/CarMaker.win32.pdb
src/CarMaker.win64.pdb
src/CarMaker.linux32
src/CarMaker.linux64

# Ignore VSCode project metadata
.vscode/

# Ignore Visual Studio project metadata
src/.vs/

# Ignore Visual C++ build artefacts
src/Debug/
src/Release/

# Ignore Eclipse C/C++ build artefacts
src/Work/

# Ignore output 'bin' folder for compiled executables
bin/CarMaker*

# Ignore CarMaker project outputs and cache
SimOutput/
Movie/.road_cache/
Data/TestRun/.tmp*
Data/Vehicle/.tmp*
Data/Road/.tmp*


# Ignore timestamped backup files created by CarMaker upgrades
src/*_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_*.c
src/*_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_*.h
src/*_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_*.m

